<!DOCTYPE html>

<html lang="{{doc.locale}}" dir="{{doc.locale.direction}}">
<head>
  <meta charset="utf-8">
  <title>{{doc.title}}</title>
  <link rel="stylesheet" href="/static/css/main.min.css">
  <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
  {% include "/views/favicon.html" %}
</head>
<body>
  <header class="header">
    <div class="header__container">
      {% for section in doc.sections %}
        <div class="header__item header__item--{{section.html_id}}">
          <a href="#{{section.html_id}}">
            {% if section.header %}{{section.header}}{% endif %}
          </a>
        </div>
      {% endfor %}
    </div>
  </header>
  <div class="hero-scroll-cta">
    <div class="hero-scroll-cta__arrow">
      <a href="#{{doc.sections[1].html_id}}">▼</a>
    </div>
  </div>
  <main>
    {% for section in doc.sections %}
      <section id="{{section.html_id}}"
               class="section section--{{section.html_id}}">
        <div class="section__background"></div>
        {% if section.header %}
        <h1 class="section__header">{{section.header}}</h1>
        {% endif %}
        {% if section.content %}
        {% for content in section.content %}
        <div class="section__content">
          <h2 class="section__content__header">{{content.header|safe}}</h2>
          <p class="section__content__body">{{content.body|safe}}</p>
        </div>
        {% endfor %}
        {% endif %}
      </section>
    {% endfor %}
  </main>

  <script src="/static/js/main.min.js"></script>
</body>
</html>
