
<link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="/static/favicon/wedding-rings-152-75829.png">

<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="/static/favicon/wedding-rings-144-75829.png">

<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/favicon/wedding-rings-152-75829.png">

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/favicon/wedding-rings-144-75829.png">

<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/favicon/wedding-rings-120-75829.png">

<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/favicon/wedding-rings-114-75829.png">

<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/favicon/wedding-rings-72-75829.png">

<link rel="apple-touch-icon-precomposed" href="/static/favicon/wedding-rings-57-75829.png">

<link rel="icon" href="/static/favicon/wedding-rings-32-75829.png" sizes="32x32">
