@import config
@import config-bp

@font-face
  font-family: 'scribble'
  src: url('/static/fonts/scribble.eot')
  src: url('/static/fonts/scribble.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/scribble.woff2') format('woff2'),
  url('/static/fonts/scribble.woff') format('woff'),
  url('/static/fonts/scribble.ttf') format('truetype')
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'olde'
  src: url('/static/fonts/olde-Regular.eot')
  src: url('/static/fonts/olde-Regular.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/olde-Regular.woff2') format('woff2'),
  url('/static/fonts/olde-Regular.woff') format('woff'),
  url('/static/fonts/olde-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'serif'
  src: url('/static/fonts/serif.eot')
  src: url('/static/fonts/serif.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/serif.woff2') format('woff2'),
  url('/static/fonts/serif.woff') format('woff'),
  url('/static/fonts/serif.ttf') format('truetype')
  font-weight: normal
  font-style: normal

$font-size-l: 48px
$font-size-xl: 58px
$font-size-mobile-ratio: (3/4)

=font-size-w-bp($fs)
  font-size: $fs * $font-size-mobile-ratio
  +md
    font-size: $fs

=font-size-l
  +font-size-w-bp($font-size-l)

=font-size-xl
  +font-size-w-bp($font-size-xl)

=olde
  font-family: 'olde', $font-family

=scribble
  font-family: 'scribble', $font-family

=serif
  font-family: 'serif', Georgia, Times, serif

=letter-spacing($ls)
  letter-spacing: $ls * $font-size-mobile-ratio
  transform: translateX(#{$ls * $font-size-mobile-ratio / 2})
  +md
    letter-spacing: $ls
    transform: translateX(#{$ls / 2})
